* {
  margin: 0;
  padding: 0;
}

.text {
  color: #6941c6;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin: 0px;
}

.header h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height, or 122% */

  text-align: center;
  letter-spacing: -0.02em;

  /* Gray/900 */

  color: #101828;
  margin: 16px 0px;
}

.header p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  /* or 150% */

  text-align: center;

  /* Gray/500 */

  color: #667085;
  margin: 20px 0px;
}

.img img {
  border: 1px solid #f2f4f7;
  box-sizing: border-box;
  border-radius: 10px;
  height: 512px;
  width: 768px;

  /* border-radius: 10px; */
}

/* * {
  margin: 12px 0;
} */

p {
  /* Text md/Semibold */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #6941c6;
  /* identical to box height, or 150% */
  /* text-align: center; */
}

h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height, or 122% */

  text-align: center;
  letter-spacing: -0.02em;

  /* Gray/900 */

  color: #101828;
}

.main-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;

  color: #667085;
}

.card-list .bi {
  width: 30px;
  height: 30px;
  margin: 10px auto;
}

.card-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

  color: #101828;
}

.card-text {
  /* Text md/Normal */

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  /* Gray/500 */

  color: #667085;
}

.learn-more {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #6941c6;
}

a:link {
  text-decoration: none;
}
