body {
  font-family: Rubik, Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  overflow-x: hidden;
  color: #607289;
}

h5 {
  font-size: 1rem;
  line-height: 1.375;
  font-family: Rubik, Arial, sans-serif;
  font-weight: 600;
  color: #030929;
}

a {
  color: #818494;
  font-weight: 500;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #667085;

  text-decoration: none;
}

footer {
  background: #ffffff;
}
.bottom-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* Gray/400 */

  color: #98a2b3;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 36px 0px;
}
