/* * { */
/* display: block; */
/* text-align: center; */
/* margin: 0 auto; */
/* make extra padding 0 */
/* padding: 0;
} */

.font-display {
  font-family: 'Inter', 'sans-serif';
}

/* text  */

h1 {
  font-size: 60px;
  font-style: normal;
  /* font-weight: 600; */
  line-height: 72px;
  /* text-align: center; */
  letter-spacing: -0.02em;
  color: #101828;
}
p {
  /* text-align: center; */
  line-height: 24px;
  letter-spacing: 0.05em;
  /* margin: 24px auto; */
}

/* button */
button {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  /* position: static; */
  width: 85px;
  height: 38px;
  /* left: 28px;
  top: 16px; */
  margin: 2rem auto;
  text-align: center;
}

.btn-1 {
  /* White */
  background: #ffffff;
  /* Gray/300 */
  border: 1px solid #d0d5dd;
  box-sizing: border-box;
}

.btn-2 {
  /* Primary/600 */
  background: #7f56d9;
  /* Primary/600 */
  border: 1px solid #7f56d9;
  box-sizing: border-box;
  color: #ffffff;
}
/* hover */
.btn-2:hover {
  background-color: #724dc3;
  color: #ffffff;
  border-color: #724dc3;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 38px;
  /* position: static; */
}
.btn-1:hover {
  /* White */
  background: #e5e5e5;
  /* Gray/300 */
  border: 1px solid #d0d5dd;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 38px;
  /* position: static; */
}
